<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124299364263-kequerei68m1l216dkgmui5vo60afsoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124299364263-kequerei68m1l216dkgmui5vo60afsoj</string>
	<key>API_KEY</key>
	<string>AIzaSyASJgzct8AdqhcSE4XM94z9De3chO2WPIA</string>
	<key>GCM_SENDER_ID</key>
	<string>124299364263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ai.Vito</string>
	<key>PROJECT_ID</key>
	<string>vitovitals</string>
	<key>STORAGE_BUCKET</key>
	<string>vitovitals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124299364263:ios:a3d15b634a35c497855882</string>
</dict>
</plist>